.gradient-text {
    background: -webkit-linear-gradient(1800deg, #33B22C, #F7E012);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    
}
.bg-noise {
    filter: blur(36px);
    position: fixed;
    z-index: -1;
    max-height: 100vh;
    overflow: hidden;
    transition: all ease 30s infinite;
}
.bg-noise img:first-child {
    animation: 25s animation_uno;
    animation-iteration-count: infinite;
}
.bg-noise img:last-child {
    animation: 25s animation_uno;
    animation-iteration-count: infinite;
}
@keyframes animation_uno {
    0% {
        transform: translate(45%);
    }
    25% {
        transform: translateY(25%);
    }
    60% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateY(75%);
    }
}